In [2]:
#Introduction to list data type:

In [3]:
#Defination: A list is a collection of items in a particualr order
#Classification: It is classified as mutable datatype.(Which can be edited or modified)
#How to define list datatype: []

In [4]:
#Ex

students=['afsha','pradeepa','naveen','prakash','muskaan','abdul']

In [5]:
print(students)

['afsha', 'pradeepa', 'naveen', 'prakash', 'muskaan', 'abdul']

In [6]:
type(students)

list

In [8]:
#Introduction to Indexing [0,1,2,3,4,5,.....] it will be starting from 0  onwards

In [9]:
#req i want to get name in the output...?

In [10]:
print(students[1])

pradeepa

In [12]:
print(students[1].title())

Pradeepa

In [13]:
#req i want to prakash name in the output..?

In [14]:
print(students[3])

prakash

In [15]:
print(students[3].title())

Prakash

In [16]:
#1. How to add new element to the  list
#2. How to modify the elements in the list
#3.How to delete the elements in the list

In [17]:
#1 req : i want to add joseph to the above list..

In [19]:
students.append('joseph')

In [20]:
print(students)

['afsha', 'pradeepa', 'naveen', 'prakash', 'muskaan', 'abdul', 'joseph']

In [21]:
#req : i want to add santosh to above list

In [22]:
students.append('santosh')

In [23]:
print(students)

['afsha', 'pradeepa', 'naveen', 'prakash', 'muskaan', 'abdul', 'joseph', 'santosh']

In [24]:
#***Inteview que diff bet insert and append***

In [25]:
#req : i want to add  sangheetha to 2nd position

In [26]:
students.insert(2,'sangeetha')

In [27]:
print(students)

['afsha', 'pradeepa', 'sangeetha', 'naveen', 'prakash', 'muskaan', 'abdul', 'joseph', 'santosh']

In [28]:
# req i want to modify afsha name to sonam

In [29]:
students[0]

'afsha'

In [30]:
students[0]='soname'

In [31]:
print(students)

['soname', 'pradeepa', 'sangeetha', 'naveen', 'prakash', 'muskaan', 'abdul', 'joseph', 'santosh']

In [32]:
#req: i want to delete naveen name from the list

In [33]:
del students[3]  #it will do permanent delete

In [34]:
print(students)

['soname', 'pradeepa', 'sangeetha', 'prakash', 'muskaan', 'abdul', 'joseph', 'santosh']

In [36]:
# temp deleting the elements using pop method:
#pop will be default deleting the last element in the list

In [37]:
print(students)

['soname', 'pradeepa', 'sangeetha', 'prakash', 'muskaan', 'abdul', 'joseph', 'santosh']

In [38]:
x= students.pop()

In [39]:
print(students)

['soname', 'pradeepa', 'sangeetha', 'prakash', 'muskaan', 'abdul', 'joseph']

In [40]:
print(x)

santosh

In [41]:
#********INTERVIEW QUE WHAT IS DIFF BET DELETE AND POP METHODS IN A LIST