In [1]:
#Introduction to python programming

In [2]:
#Understanding variables in python:

In [3]:
x=2
y=3

In [4]:
z=x+y
print(z)

5

In [5]:
#variables are nothing but block of code

In [6]:
#rules for declaring the variables

In [7]:
#Rule1 : No name spaces while declaring the variable

In [8]:
#ex
First name='sandeep'

SyntaxError: invalid syntax (2895769863.py, line 2)

In [9]:
firstname='sandeep'

In [10]:

#Rule2: A variable should not start with the numbers/integers.

In [11]:
#ex
1name='jhansi'

SyntaxError: invalid syntax (1760382611.py, line 2)

In [12]:
name1='Sandeep'

In [13]:
print(name1)

Sandeep

In [14]:
#Rule3: A variable should not start with speacial characters.

In [15]:
#ex
name@='Sandeep'

NameError: name 'name' is not defined

In [16]:
#Introduction to datatypes in python

In [ ]:
1.String ===> str
2.Number ====> integers and floats
3.List ====> list
4.tuples =====> tuple
5.Dictionary ====> dict

In [17]:
#Classification of Datatypes

In [ ]:
1. Mutable datatype ====>which can be able to alter/edit and flexible in nature
2. Immutable datatype =====>which can not be edited and alter Fixed in nature.

In [18]:
# Introduction to string datatype:
A string is a series of character declared in quotes
classification : it is classified as immutable datatype
#How to define sring:
1.single quote
2.double quote

#ex
name='sandeep'
name2="sandeep"

In [ ]:
#Introduction to string methods:
1.type()
2.title()

In [19]:
#ex:
fullname='sandeep'
type(fullname)

str

In [20]:
#ex:
fullname="sandeep singh"
print(fullname.title())

Sandeep Singh

In [21]:
#req i want to convert the entire name in capital letters.

In [22]:
#ex:
fullname='sandeep'
print(fullname.upper())

SANDEEP

In [23]:
#for lower case
#ex:
fullname='SANDEEP'
print(fullname.lower())

sandeep